{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import 'macros/crud_components.html' as components %}

{% block title %}Catálogo de Productos{% endblock %}

{% block content %}

{{ components.page_header('Módulo de Productos', 'Gestiona el catálogo de productos terminados de la fábrica') }}

<script src="https://cdn.tailwindcss.com"></script>

<!-- KPIs -->
{% include "produccion/productos/_estadisticas.html" %}

<!-- Formulario de Producto -->
{% include "produccion/productos/_formulario.html" %}

<!-- Tabla de Productos -->
{% include "produccion/productos/_lista.html" %}

{% endblock %}